useDynLib(BKPC,.registration = TRUE)
import(kernlab)
importFrom("graphics", "abline", "axis", "boxplot", "lines", "matplot", "pairs")
importFrom("stats", "median", "quantile", "runif", "sd")
export(bkpc)  
export(gaussKern)
export(kPCA)
export(marginalRelevance)
S3method(bkpc, default)
S3method(bkpc, kern)
S3method(bkpc, kernelMatrix)
S3method(kPCA, default)
S3method(kPCA, kern)
S3method(kPCA, kernelMatrix)
S3method(plot, bkpc)
S3method(plot, marginalRelevance)
S3method(predict, bkpc)
S3method(summary, bkpc)
S3method(predict, kPCA)